Esercizi-Codifica-2021-2022/ES4.dtd

<!ELEMENT TEI (header,facsimile?,text+) >

<!ELEMENT header (#PCDATA) >
<!ATTLIST header type CDATA #FIXED "intestazione">
<!ATTLIST header lang NMTOKEN #IMPLIED>

<!ELEMENT facsimile (#PCDATA) >
<!ATTLIST facsimile source CDATA #REQUIRED>
<!ATTLIST facsimile ref IDREFS #IMPLIED>

<!ELEMENT text (#PCDATA|seg)* >
<!ATTLIST text id ID #REQUIRED> 
<!ATTLIST text type CDATA #IMPLIED>
